fastapi
uvicorn[standard]
redis
python-dotenv
python-multipart
pandas
openpyxl
python-calamine
python-dateutil
numpy
pydantic
pytest
pyjwt
pwdlib[argon2]
# --- feat/grade ---
sqlalchemy[asyncio]
asyncpg
alembic
apscheduler
playwright
beautifulsoup4
httpx
requests
